@keyframes blinkingText {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

* {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word
}

pre {
    position: relative;
    overflow-x: auto;
    padding: 10px 10px 30px;
    border: 1px solid #fff
}

button.copy-code-button,select {
    padding: 5px 10px;
    border-radius: 5px
}

button.copy-code-button {
    font-size: .8em;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    transition: background-color .3s,color .3s;
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff
}

button.copy-code-button:hover {
    color: #222;
    background-color: #eee
}

body,html {
    font-family: Arial,sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #f1f1f1;
    background-color: #333
}

.chat-interface,.container {
    display: flex;
    width: 90%;
    margin: 0 auto
}

.container {
    flex: 1;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50vh
}

header h1 {
    font-size: 24px;
    text-align: center;
    color: #8f564c
}

#GPTapiStatusMessage,#apiStatusMessage {
    display: none;
    margin-bottom: 10px;
    text-align: center;
    color: red
}

#discord-logo,#info-link,#theme-toggle {
    position: fixed;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%
}

#info-link {
    font-weight: 700;
    line-height: 20px;
    z-index: 1000;
    top: 10px;
    display: inline-block;
    cursor: help;
    text-align: center;
    text-decoration: none;
    color: #f1f1f1;
    background-color: #8f564c
}

#info-link:hover {
    cursor: help;
    background-color: #c56a4e
}

#discord-logo,#theme-toggle {
    top: 40px;
    cursor: pointer
}

#theme-toggle {
    top: 70px
}

.chat-interface {
    overflow-y: auto;
    flex-direction: row;
    height: 100%
}

.previous-chats {
    overflow-y: auto;
    width: 70%;
    max-height: 350px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background: #444
}

.previous-chats h2 {
    font-size: 20px
}

.previous-chats ul {
    padding: 0;
    list-style: none
}

.previous-chats li {
    margin-top: 5px;
    padding: 10px;
    transition: background-color .3s ease;
    border-radius: 5px;
    background: #555
}

.previous-chats li:hover {
    cursor: pointer;
    background: #666
}

.message-form,.model-selector {
    display: flex;
    align-items: center
}

.message-form {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 50%;
    flex-direction: column;
    width: 70%;
    max-height: 50%;
    padding: 5px;
    transform: translateX(-50%);
    background-color: #333;
    box-shadow: 0-1px 10px rgb(0 0 0/30%)
}

.model-selector {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px
}

.model-selector-right {
    margin-left: auto
}

.model-selector label {
    margin-right: 10px;
    color: #ccc
}

pre,select {
    background: #222
}

select {
    color: #f1f1f1;
    border: 1px solid #444
}

select:focus {
    border-color: #8f564c;
    outline: 0
}

textarea {
    overflow-y: auto;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    margin-right: 10px;
    padding: 10px;
    resize: vertical;
    border: 1px solid #ccc;
    background: #222
}

#systemPrompt {
    width: 90%
}

.message-form-buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,auto)
}

#sendButton,textarea {
    color: #f1f1f1;
    border-radius: 5px
}

#sendButton {
    font-size: 16px;
    background-color: #8f564c
}

#addButton {
    border-radius: 100%
}

#runButton {
    border-radius: 5px
}

#addButton,#runButton,#sendButton {
    margin-top: 10px;
    cursor: pointer;
    border: 0;
    grid-column: auto
}

#addButton:hover,#runButton:hover,#sendButton:hover,.previous-chats button:hover,.previous-chats-controls button:hover {
    background-color: #c56a4e
}

#addButton {
    background-color: #6a6a6a
}

#addButton,#backButton,#runButton {
    color: #f1f1f1
}

#runButton {
    background-color: #6a6a6a
}

#backButton {
    position: fixed;
    z-index: 1;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .3s;
    border: 0;
    border-radius: 5px;
    background-color: #8f7535
}

#backButton:hover {
    background-color: #705d2b
}

.user-message {
    color: #f1f1f1;
    background: #555
}

.assistant-message {
    color: #f1f1f1;
    background: #8f564c
}

.error-message,.loading-message {
    margin: 10px 0;
    padding: 10px;
    color: #f1f1f1;
    border-radius: 5px
}

.loading-message {
    animation: blinkingText 1.2s infinite;
    background: #666
}

.error-message {
    background: #8f564c
}

.chat-controls {
    margin-top: 10px
}

.previous-chats button,.previous-chats-controls button {
    cursor: pointer;
    color: #f1f1f1;
    border: 0;
    border-radius: 5px;
    background-color: #8f564c
}

.previous-chats button {
    margin-left: 10px;
    padding: 3px 6px
}

.previous-chats-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 10px
}

.previous-chats-controls button {
    padding: 5px 10px
}

#sendButton.abort-button {
    color: #f1f1f1;
    background-color: #6c757d
}

#sendButton.abort-button:hover {
    background-color: #5a6268
}

#systemPrompt {
    margin-bottom: 10px;
    color: #ccc;
    border: 1px solid #555;
    background: #222
}

#toggleSystemPromptBtn {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 16px;
    cursor: pointer;
    color: #f1f1f1;
    border: 0;
    border-radius: 5px;
    background-color: #8f564c
}

#toggleSystemPromptBtn:hover {
    background-color: #c56a4e
}

.assistant-message,.user-message {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px
}

.message-content {
    flex-grow: 1;
    width: 100%
}

.messageDiv {
    overflow: auto;
    align-items: center;
    flex-direction: column
}

button.edit-button {
    background-color: #007bff
}

.file-bubble .close-btn,button.delete-button {
    background-color: #dc3545
}

button.copy-button {
    background-color: #008514
}

button.copy-button,button.delete-button,button.edit-button {
    font-size: .8em;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer
}

button.copy-button:hover,button.delete-button:hover,button.edit-button:hover {
    opacity: .8
}

.message-buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0
}

button.cancel-button,button.confirm-button {
    font-size: .8em;
    margin-left: 5px;
    padding: 5px 10px
}

button.confirm-button {
    background-color: #28a745
}

button.cancel-button {
    background-color: #6c757d
}

button.show-more-button {
    font-size: .8em;
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .3s,color .3s;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff
}

body.light-mode button.copy-code-button:hover,button.show-more-button:hover {
    color: #222;
    background-color: #eee
}

.export-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

button.export-button {
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color .3s;
    color: #f1f1f1;
    border: 0;
    border-radius: 5px;
    background-color: #8f564c
}

#attachButton:hover,body.light-mode #info-link:hover,button.export-button:hover {
    background-color: #c56a4e
}

.file-bubble-container {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    max-width: 90%
}

.file-bubble,.modal {
    display: flex;
    align-items: center;
    justify-content: center
}

.file-bubble {
    position: relative;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    color: #f1f1f1;
    border-radius: 5px;
    background: #444
}

.file-bubble span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.file-bubble .close-btn {
    font-size: .8em;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 2px 5px;
    cursor: pointer;
    color: #f1f1f1;
    border: 0;
    border-radius: 50%
}

.file-bubble .close-btn:hover,.modal-header .close:hover {
    background-color: #c82333
}

#messageBoxContainer {
    position: relative;
    width: 90%
}

#attachButton,.modal-header .close {
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 100%
}

#attachButton {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #f1f1f1;
    background-color: transparent
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/50%)
}

.modal-content {
    overflow: auto;
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
    color: #f1f1f1;
    border-radius: 10px;
    background-color: #333
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px
}

.modal-header .close,body.light-mode .modal-header .close {
    background-color: #dc3545
}

.modal-body {
    white-space: pre-wrap
}

#searchTextarea {
    display: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    resize: vertical;
    color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #222
}

body.light-mode {
    color: #333
}

body.light-mode header h1 {
    color: #8f564c
}

body.light-mode #info-link {
    color: #333;
    background-color: #8f564c
}

body.light-mode .previous-chats {
    background: #aaa
}

body.light-mode .previous-chats li {
    background: #eee
}

body.light-mode .previous-chats li:hover {
    background: #ccc
}

body.light-mode,body.light-mode .message-form {
    background-color: #f1f1f1
}

body.light-mode .user-message {
    color: #333;
    background: #aaa
}

body.light-mode .assistant-message {
    color: #f1f1f1;
    background: #8f564c
}

body.light-mode .error-message {
    background: #8f564c
}

body.light-mode .loading-message {
    background: #ccc
}

body.light-mode button.copy-code-button {
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff
}

body.light-mode button {
    color: #333;
    background-color: #ddd
}

body.light-mode button:hover {
    background-color: #ccc
}

body.light-mode pre,body.light-mode select,body.light-mode textarea {
    color: #333;
    background: #fff
}

body.light-mode pre {
    border: 1px solid #ccc
}

body.light-mode .modal-content {
    color: #333;
    background-color: #fff
}

body.light-mode .file-bubble {
    color: #333;
    background: #ddd
}

body.light-mode #attachButton,body.light-mode .model-selector label {
    color: #333
}

@media (width <= 768px) {
    .previous-chats-controls {
        display: flex;
        align-items: stretch;
        flex-direction: column
    }
    
    .previous-chats-controls button {
        width: 90%;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto
    }
    
    #searchTextarea {
        width: calc(100% - 20px);
        margin: 10px auto
    }
    
    .modal-content {
        width: 90%;
        height: 90%
    }
    
    .container {
        width: 90%;
        padding: 10px;
        padding-bottom: 50vh
    }
    
    .chat-interface {
        flex-direction: column;
        height: 100%
    }
    
    .message-form,.previous-chats {
        width: 90%;
        margin-bottom: 1px
    }
    
    .previous-chats h2,header h1 {
        font-size: 18px
    }
    
    button {
        font-size: 14px;
        padding: 8px 16px
    }
}