* {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;
}

pre {
    position: relative;
    border: 1px solid #fff;
    background: #222;
    padding: 10px;
    padding-bottom: 30px;
    overflow-x: auto;
}

button.copy-code-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button.copy-code-button:hover {
    background-color: #eee;
    color: #222;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
    font-family: Arial, sans-serif;
    background-color: #333;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 50vh;
}

header h1 {
    font-size: 24px;
    color: #8f564c;
    text-align: center;
}

#apiStatusMessage, #GPTapiStatusMessage {
    display: none;
    text-align: center;
    color: red;
    margin-bottom: 10px;
}

#info-link {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #8f564c;
    color: #f1f1f1;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: help;
    z-index: 1000;
}

#info-link:hover {
    background-color: #c56a4e;
    cursor: help;
}

#discord-logo {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 40px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-interface {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    height: 100%;
}

.previous-chats {
    width: 70%;
    background: #444;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    max-height: 350px;
    overflow-y: auto;
}

.previous-chats h2 {
    font-size: 20px;
}

.previous-chats ul {
    list-style: none;
    padding: 0;
}

.previous-chats li {
    background: #555;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.previous-chats li:hover {
    background: #666;
    cursor: pointer;
}

.message-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    background-color: #333;
    padding: 5px;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.3);
    z-index: 10;
    max-height: 50%;
}

.model-selector {
    margin-bottom: 10px;
}

.model-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.model-selector-right {
    margin-left: auto;
}

.model-selector label {
    color: #ccc;
    margin-right: 10px;
}

select {
    background: #222;
    color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #444;
}

select:focus {
    outline: none;
    border-color: #8f564c;
}

textarea {
    width: 100%;
    min-height: 50px;
    background: #222;
    padding: 10px;
    color: #f1f1f1;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    overflow-y: auto;
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #ccc
}

#systemPrompt {
    width: 90%;
}

.message-form-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
}

#sendButton {
    background-color: #8f564c;
    color: #f1f1f1;
    font-size: 16px;
    border-radius: 5px;
}

#addButton {
    border-radius: 100%;
}

#runButton {
    border-radius: 5px;
}

#sendButton, #addButton, #runButton {
    border: none;
    margin-top: 10px;
    grid-column: auto;
    cursor: pointer;
}

#sendButton:hover, #addButton:hover, #runButton:hover {
    background-color: #c56a4e;
}

#addButton, #runButton {
    background-color: #6a6a6a;
    color: #f1f1f1;
}

#backButton {
    position: fixed;
    z-index: 1;
    background-color: #8f7535;
    color: #f1f1f1;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #705d2b;
}

.user-message {
    background: #555;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.assistant-message {
    background: #8f564c;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.loading-message {
    background: #666;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    animation: blinkingText 1.2s infinite;
}

.error-message {
    background: #8f564c;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

@keyframes blinkingText {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.chat-controls {
    margin-top: 10px;
}

.previous-chats button {
    margin-left: 10px;
    background-color: #8f564c;
    color: #f1f1f1;
    border: none;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
}

.previous-chats button:hover {
    background-color: #c56a4e;
}

.previous-chats-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.previous-chats-controls button {
    background-color: #8f564c;
    color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.previous-chats-controls button:hover {
    background-color: #c56a4e;
}

#sendButton.abort-button {
    background-color: #6c757d;
    color: #f1f1f1;
}

#sendButton.abort-button:hover {
    background-color: #5a6268;
}


#systemPrompt {
    background: #222;
    color: #ccc;
    border: 1px solid #555;
    margin-bottom: 10px;
}

#toggleSystemPromptBtn {
    background-color: #8f564c;
    color: #f1f1f1;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;

}

#toggleSystemPromptBtn:hover {
    background-color: #c56a4e;
}

.user-message, .assistant-message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message-content {
    width: 100%;
    flex-grow: 1;
}

.messageDiv {
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
button.edit-button {
    background-color: #007bff;
}

button.delete-button {
    background-color: #dc3545;
}

button.copy-button {
    background-color: #008514;
}

button.edit-button, button.delete-button, button.copy-button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
}

button.edit-button:hover, button.delete-button:hover, button.copy-button:hover {
    opacity: 0.8;
}

.message-buttons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

button.confirm-button, button.cancel-button {
    padding: 5px 10px;
    font-size: 0.8em;
    margin-left: 5px;
}

button.confirm-button {
    background-color: #28a745;
}

button.cancel-button {
    background-color: #6c757d;
}

button.show-more-button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 0.8em;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

button.show-more-button:hover {
    background-color: #eee;
    color: #222;
}

.export-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button.export-button {
    background-color: #8f564c;
    color: #f1f1f1;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.export-button:hover {
    background-color: #c56a4e;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
        padding-bottom: 50vh;
    }

    .chat-interface {
        flex-direction: column;
        height: 100%;
    }

    .previous-chats, .message-form {
        width: 90%;
        margin-bottom: 5px;
    }

    header h1, .previous-chats h2 {
        font-size: 18px;
    }

    textarea {
        height: 100px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

.file-bubble-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 90%;
}

.file-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #444;
    color: #f1f1f1;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.file-bubble span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-bubble .close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #dc3545;
    color: #f1f1f1;
    border: none;
    padding: 2px 5px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 50%;
}

.file-bubble .close-btn:hover {
    background-color: #c82333;
}

#messageBoxContainer {
    position: relative;
    width: 90%;
}

#attachButton {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    color: #f1f1f1;
    padding: 2px 5px;
    border-radius: 100%;
    cursor: pointer;
}

#attachButton:hover {
    background-color: #c56a4e;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #333;
    color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-header .close {
    cursor: pointer;
    background-color: #dc3545;
    border-radius: 100%;
    padding: 2px 5px;
}

.modal-header .close:hover {
    background-color: #c82333;
}

.modal-body {
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        height: 90%;
    }
}

#searchTextarea {
    display: none;
    width: 100%;
    background: #222;
    padding: 10px;
    color: #f1f1f1;
    border-radius: 5px;
    resize: vertical;
    margin-top: 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .previous-chats-controls {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .previous-chats-controls button {
        margin-bottom: 10px;
        width: 90%;
    }

    #searchTextarea {
        width: calc(100% - 20px);
        margin: 10px auto;
    }
}