@keyframes blinkingText {
    0%,to {
        opacity: 1
    }

    50% {
        opacity: 0
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.loading-spinner {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    animation: spinner .6s linear infinite;
    border: 2px solid rgba(255,255,255,.3);
    border-top: 2px solid #fff;
    border-radius: 50%
}

* {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word
}

pre {
    position: relative;
    overflow-x: auto;
    padding: 10px 10px 30px;
    border: 1px solid #fff
}

button.copy-code-button,select {
    padding: 5px 10px;
    border-radius: 2vw
}

button.copy-code-button {
    font-size: .8em;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    color: #333;
    border: 1px solid #ccc;
    background: #fff
}

button.copy-code-button:hover {
    color: #222;
    background: #eee
}

body,html {
    font-family: Arial,sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #e1e1e1;
    background: #333;
    touch-action: pan-x pan-y
}

.chat-interface,.container {
    display: flex;
    width: 85%;
    max-width: 100%;
    margin: 0 auto
}

.container {
    flex: 1;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 50vh
}

header h1 {
    font-size: 24px;
    text-align: center;
    color: #bd5536
}

#GPTapiStatusMessage,#apiStatusMessage {
    display: none;
    margin-bottom: 10px;
    text-align: center;
    color: red
}

#discord-logo,#info-link,#theme-toggle {
    position: fixed;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%
}

#info-link {
    font-weight: 700;
    line-height: 20px;
    z-index: 1000;
    top: 10px;
    display: inline-block;
    cursor: help;
    text-align: center;
    text-decoration: none;
    color: #202020;
    background: #bd5536
}

#discord-logo,#theme-toggle {
    top: 40px;
    cursor: pointer
}

#theme-toggle {
    top: 70px
}

.chat-interface {
    overflow-y: auto;
    flex-direction: row
}

.previous-chats {
    overflow-y: auto;
    width: 70%;
    max-height: 350px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 2vw;
    background: #444;
    box-shadow: 0 0 10px rgba(0,0,0,.3)
}

.previous-chats h2 {
    font-size: 20px;
    text-align: center
}

.previous-chats ul {
    padding: 0;
    list-style: none
}

.previous-chats li {
    margin-top: 5px;
    padding: 10px;
    border-radius: 2vw;
    background: #666
}

.previous-chats li:hover {
    cursor: pointer;
    background: #777
}

.message-form,.model-selector {
    display: flex;
    align-items: center
}

.message-form {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 50%;
    flex-direction: column;
    width: 70%;
    max-height: 50%;
    margin: 0 auto;
    padding: 10px;
    transform: translateX(-50%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #2a2a2a;
    box-shadow: 0-1px 10px rgba(0,0,0,.3)
}

.model-selector {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px
}

.model-selector-right {
    margin-right: auto;
    margin-left: auto
}

.model-selector label {
    margin-right: 10px;
    color: #ccc
}

pre,select {
    background: #222
}

select {
    color: #e1e1e1;
    border: 1px solid #444
}

select:focus {
    border-color: #bd5536;
    outline: 0
}

textarea {
    font-family: Arial,sans-serif;
    overflow-y: auto;
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    margin-right: 10px;
    padding: 10px;
    resize: vertical;
    background: #333
}

#systemPromptInput {
    width: 90%;
    margin: 0 auto;
    color: #ccc;
    background: #333
}

.message-form-buttons {
    display: flex
}

#endpointSettingsModal input,#endpointsButton,#parameters>input,#saveSettingsButton,#saveSettingsButton2,#settingsContent>input,textarea {
    color: #e1e1e1;
    border-radius: 2vw
}

#endpointsButton,#saveSettingsButton,#saveSettingsButton2 {
    font-size: 14px;
    background: #764941
}

#addButton,#runButton,#sendButton {
    margin-top: 10px;
    margin-right: 20px;
    border: 0;
    filter: invert(1);
    background: 0 0
}

#addButton,#runButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#addButton {
    right: 40px;
}

#endpointsButton,#saveSettingsButton,#saveSettingsButton2 {
    margin-top: 10px;
    cursor: pointer;
    border: 0;
    grid-column: auto
}

#addModelButton:hover,#attachButton:hover,#endpointsButton:hover,#loadSystemPromptButton:hover,#saveSettingsButton2:hover,#saveSettingsButton:hover,#saveSystemPromptButton:hover,#toggleApiKeyVisibility:hover {
    background: #764941d5
}

#backButton {
    position: fixed;
    z-index: 1;
    left: 20px;
    cursor: pointer;
    border: 0;
    background: transparent;
    filter: invert(1);
}

#messageContainer {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    padding: 10px
}

.user-message {
    align-self: flex-end;
    color: #e1e1e1;
    background: #666
}

.assistant-message,.export-button-container button,.message-counter,.global-message-counter {
    align-self: flex-start;
    color: #e1e1e1;
    background: #764941
}

.error-message,.loading-message {
    margin: 10px 0;
    padding: 10px;
    color: #e1e1e1;
    border-radius: 2vw
}

.loading-message {
    animation: blinkingText 1.2s infinite;
    background: #666
}

.error-message {
    background: #764941
}

.image-message {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0
}

.image-message img {
    max-width: 40%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2)
}

.chat-controls {
    margin-top: 10px
}

.previous-chats button,.previous-chats-controls button {
    border: 0;
    background: transparent
}

.previous-chats-controls {
    display: flex;
    justify-content: space-around;
    margin-top: 10px
}

.previous-chats-controls button {
    padding: 5px 10px
}

#settingsButton {
    cursor: pointer;
    border: 0;
    background: transparent;
    filter: invert(1);
    position: absolute;
    left: 10px;
    bottom: 10px;
}

li>* {
    vertical-align: middle;
}

.disclaimer {
    font-size: 0.6rem;
    color: #999;
    margin: 0.2rem;
    padding: 0
}

body.light-mode #settingsSVG,body.light-mode #backSVG,body.light-mode .message-form-buttons button>SVG{
    filter: invert(1)
}

.assistant-message .message-buttons,.image-message .message-buttons,.export-button-container button>svg {
    fill: #e1e1e1
}

.image-message .message-buttons {
    margin-bottom: 10px
}

.assistant-message,.system-message,.user-message {
    position: relative;
    display: inline-block;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-width: 50%;
    max-width: 70%;
    margin: 10px 0;
    padding: 18px;
    border-radius: 2vw
}

.system-message {
    align-self: center;
    width: 70%;
    color: #e1e1e1;
    background: #337ab7
}

.role-selector {
    margin-left: 10px;
    color: #e1e1e1;
    border: 1px solid #444;
    background: #222;
    max-width: 45%;
    padding: 5px 10px;
    border-radius: 2vw
}

.message-content {
    flex-grow: 1;
    width: 100%
}

.messageDiv {
    overflow: auto;
    align-items: center;
    flex-direction: column
}

button {
    cursor: pointer;
}

svg {
    width: 1.4em;
    height: 1.4em;
}

svg:hover {
    cursor: pointer;
    opacity: .5
}

#backSVG {
    width: 1.8em;
    height: 1.8em;
}

.message-buttons>button {
    padding: 5px;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.delete-button {
    position: absolute;
    right: 10px
}

.copy-button,.edit-button,.confirm-button,.cancel-button {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center
}

.message-buttons {
    display: flex;
    padding-top: 10px
}

button.show-more-button {
    font-size: .8em;
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background .3s,color .3s;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 2vw;
    background: #fff
}

#endpointsModal .modal-body {
    display: flex;
    flex-direction: column
}

#endpointsList {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    list-style-type: none
}

#endpointsList li,#systemPromptsList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background: #666
}

#endpointsList li:hover,#systemPromptsList li:hover {
    background: #777
}

#addEndpointButton {
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #764941
}

#endpointSettingsModal .model-list li button,#endpointsList li button,#systemPromptsList li button {
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #dc3545
}

#addEndpointButton:hover,#saveEndpointSettingsButton:hover,.export-button-container button:hover {
    background: #764941d5
}

#endpointSettingsModal .model-list {
    margin: auto;
    padding: 0;
    list-style: none
}

#endpointSettingsModal .model-list li {
    display: flex;
    align-items: center
}

#endpointSettingsModal .model-list li input {
    flex-grow: 1;
    max-width: 200px;
    margin-right: 5px
}

#endpointSettingsModal input {
    width: 100%;
    min-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #333
}

#endpointUrl {
    background: #666
}

#settingsContent #apiKey {
    width: 90%;
    margin: 0 auto 10px
}

#parameters>input,#settingsContent>input {
    width: 100px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #333
}

#settingsContent>button {
    padding: 8px
}

#saveEndpointSettingsButton,#showAdvancedSettingsButton {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    background: #764941
}

body.light-mode #endpointsList li {
    background: #eee
}

body.light-mode #endpointsList li:hover {
    background: #ccc
}

body.light-mode button.copy-code-button:hover,button.show-more-button:hover {
    color: #222;
    background: #eee
}

.export-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.export-button-container button {
    padding: 10px 20px;
    border-radius: 2vw;
    margin-right: 10px
}

#info-link:hover {
    background: #bd5636d5
}

.file-bubble-container {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    max-width: 90%
}

.file-bubble,.modal {
    display: flex;
    align-items: center;
    justify-content: center
}

.file-bubble {
    position: relative;
    box-sizing: border-box;
    margin-right: 5px;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    color: #e1e1e1;
    border-radius: 2vw;
    background: #444
}

.file-bubble span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.file-bubble .close-btn {
    font-size: .8em;
    top: 2px;
    right: 2px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em
}

#endpointSettingsModal .model-list li button:hover,#endpointsList li button:hover,#systemPromptsList li button:hover,.file-bubble .close-btn:hover,.modal-header .close:hover {
    background: #dc3545d5
}

#messageBoxContainer {
    position: relative;
    width: 90%
}

#toggleApiKeyVisibility {
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #764941
}

#addModelButton {
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #e1e1e1;
    border-radius: 100%;
    background: transparent
}

#attachButton,.file-bubble .close-btn {
    position: absolute;
    cursor: pointer;
    color: #e1e1e1
}

#attachButton {
    z-index: 1;
    top: 25.5px;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    border-radius: 100%;
    background: transparent
}

.modal-header .close, .close-btn {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%
}

.modal-header .close::after,.modal-header .close::before, .close-btn::before, .close-btn::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 1.5px;
    content: "";
    background: #e1e1e1
}

.modal-header .close::before, .close-btn::before {
    transform: translate(-50%,-50%) rotate(45deg)
}

.modal-header .close::after, .close-btn::after {
    transform: translate(-50%,-50%) rotate(-45deg)
}

.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(0 0 0/50%);
    box-shadow: 0-1px 10px rgba(0,0,0,.3)
}

.modal-content {
    overflow: auto;
    min-width: 60%;
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
    color: #e1e1e1;
    border-radius: 10px;
    background: #333
}

.modal-header {
    display: flex;
    justify-content: space-between
}

.file-bubble .close-btn,.modal-header .close,body.light-mode .modal-header .close {
    background: #dc3545
}

#parameters,#settingsContent {
    display: flex;
    flex-direction: column
}

#parameters,.modal-header {
    align-items: center
}

#parameters>*,#settingsContent>*,.modal-header,.web-search-toggle {
    margin-bottom: 10px
}

.web-search-toggle label {
    margin-right: 10px
}

.toggle-container,.web-search-options,.web-search-toggle {
    display: flex;
    align-items: center
}

.web-search-options input[type=radio] {
    display: none
}

.web-search-options label {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px
}

.web-search-options input[type=radio]:checked+label {
    color: #fff;
    background: #764941
}

#searchTextarea {
    display: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    resize: vertical;
    color: #e1e1e1;
    border: 1px solid #ccc;
    border-radius: 2vw;
    background: #222
}

body.light-mode {
    color: #333
}

body.light-mode header h1 {
    color: #bd5536
}

body.light-mode .previous-chats {
    background: #aaa
}

body.light-mode .previous-chats li {
    background: #eee
}

body.light-mode .previous-chats li:hover {
    background: #ccc
}

body.light-mode .previous-chats button {
    background: transparent;
}

body.light-mode,body.light-mode .message-form {
    background: #e1e1e1
}

body.light-mode .user-message {
    color: #333;
    background: #aaa
}

body.light-mode .assistant-message,body.light-mode .export-button-container button,body.light-mode .message-counter,body.light-mode .global-message-counter,body.light-mode .error-message{
    color: #333;
    background: #d48576
}

body.light-mode .export-button-container button:hover {
    background: #d48576d5
}

body.light-mode .assistant-message .message-buttons,body.light-mode .image-message .message-buttons,body.light-mode .export-button-container button>svg {
    fill: #000
}

body.light-mode .loading-message {
    background: #ccc
}

body.light-mode button.copy-code-button {
    color: #333;
    border: 1px solid #ccc;
    background: #fff
}

body.light-mode button {
    color: #333;
    background: #ddd
}

body.light-mode .message-buttons>button, body.light-mode .message-buttons>button:hover{
    background: transparent
}

body.light-mode #endpointSettingsModal input,body.light-mode #searchTextarea,body.light-mode #settingsModal input,body.light-mode #systemPromptInput,body.light-mode pre,body.light-mode select,body.light-mode textarea {
    color: #333;
    background: #fff
}

body.light-mode pre {
    border: 1px solid #ccc
}

body.light-mode .modal-content {
    color: #333;
    background: #fff
}

body.light-mode .file-bubble {
    color: #333;
    background: #bbb
}

body.light-mode #addModelButton,body.light-mode #attachButton,body.light-mode .model-selector label {
    color: #333
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-left: 10px;
    pointer-events: none
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0
}

.slider,.slider:before {
    position: absolute;
    transition: .4s
}

.slider {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 34px;
    background: #ccc
}

.slider:before {
    bottom: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    content: "";
    border-radius: 50%;
    background: #fff
}

input:checked+.slider {
    background: #764941
}

input:checked+.slider:before {
    transform: translateX(14px)
}

.global-message-counter,.message-counter {
    font-size: 14px;
    margin: 10px;
    padding: 8px 16px;
    text-align: center;
    color: #e1e1e1;
    border-radius: 2vw;
}

.global-message-counter {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 10px
}

.system-prompts-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px
}

.system-prompts-section>div {
    display: flex;
    justify-content: center;
    width: 100%
}

#systemPromptsList {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    list-style-type: none
}

#loadSystemPromptButton,#saveSystemPromptButton {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background .3s;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background: #764941
}

#systemPromptName {
    width: 200px;
    margin-right: 10px;
    padding: 10px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #222
}

.info-bubble {
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;
    background: #764941
}

@media (max-width: 1200px) {
    .container {
        width: 80%;
    }

    .assistant-message,.user-message,.system-message {
        min-width: 70%;
        max-width: 80%;
    }
}

@media (width <= 768px) {   
    .disclaimer {
        font-size: 0.7rem;
    }

    .previous-chats {
        max-height: 45vh
    }
    
    #searchTextarea {
        width: calc(100% - 20px);
        margin: 10px auto
    }
    
    .modal-content {
        width: 90%;
        height: 90%
    }
    
    .container {
        width: 90%;
        margin-top: 40px;
        padding: 10px;
        padding-bottom: 50vh
    }
    
    .chat-interface {
        flex-direction: column
    }
    
    .message-form,.previous-chats {
        width: 90%;
        margin-bottom: 1px
    }
    
    .assistant-message,.user-message,.system-message {
        min-width: 90%;
        max-width: 95%
    }
    
    .previous-chats h2,header h1 {
        font-size: 18px
   }
    
    button {
        font-size: 14px;
        padding: 5px
    }
    
    .message-buttons {
        flex-wrap: wrap;
    }
    
    #addModelButton,#attachButton {
        padding: 0
    }
}